# Offentlige Traefik Host-regler
APP_DOMAIN=h3.mercantec.tech
PGWEB_DOMAIN=h3-pgweb.mercantec.tech
REDIS_UI_DOMAIN=h3-redis.mercantec.tech

POSTGRES_USER=h3
POSTGRES_PASSWORD=h3secret
POSTGRES_DB=h3

REDIS_UI_USER=
REDIS_UI_PASSWORD=

# Infisical Machine Identity (kun ApiService)
INFISICAL__CLIENTID=
INFISICAL__CLIENTSECRET=
INFISICAL__PROJECTID=
INFISICAL__ENVIRONMENTSLUG=prod
INFISICAL__SECRETPATH=/
INFISICAL__HOSTURI=https://infisical.mags.dk/

LOCAL_WEB_PORT=8080
LOCAL_PGWEB_PORT=8081
LOCAL_REDIS_UI_PORT=8082
